agate==1.6.1
Babel==2.2.0
boto==2.39.0
boto3==1.2.3
botocore==1.3.26
dateparser==0.3.2
docutils==0.12
future==0.16.0
futures==3.0.5
isodate==0.5.4
jdatetime==1.7.2
jmespath==0.9.0
leather==0.3.3
oauthlib==1.0.3
parsedatetime==2.4
python-dateutil==2.4.2
python-slugify==1.2.5
pytimeparse==1.1.5
pytz==2015.7
PyYAML==3.11
requests==2.9.1
requests-oauthlib==0.6.0
six==1.10.0
tweepy==3.5.0
umalqurra==0.2
Unidecode==1.0.22
